/* Container for the entire card */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
}

/* Container for the image and profile picture */
.image-card {
  position: relative;
  padding: 5px;
}

/* Recipe image styling */
.card-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 8px;
}

/* Profile picture styling */
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  right: 15px; /* Positioned on the right side */
  border: 5px solid white; /* White border around profile picture */
}

/* Heart button styling */
.love-button {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  background-color: rgba(252, 252, 252, 0.7);
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.love-button i {
  font-size: 18px;
  color: #c71e88; /* Red color for the heart icon */
}

/* Card body styling for recipe name */
.card-body {
  text-align: center;
  margin-top: 20px; /* Space for the profile picture */
  padding: 0px 10px 5px 10px;
}

/* Recipe name styling */
.card-body h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

/* Card footer styling for rating */
.card-footer {
  text-align: left;
  padding: 5px;
  margin-left: 10px;
}

.stars .fa-star,
.stars .fa-star-half {
  color: #ffd700; /* Gold color for stars */
}

.stars .fa-regular.fa-star {
  color: #ddd; /* Gray color for empty stars */
}
