@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container-fluid {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.navbar-brand img {
  height: 70px;
}

.btn {
  width: 45px;
  height: 45px;
  position: relative;

  color: #c71e88;
  border-radius: 50%;
  border-color: #c71e88;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin: 15px;
}

.btn:hover {
  background-color: #c71e88;
  border-color: #c71e88;
}

.navbar-nav .nav-link {
  color: #1919a8;
  margin: 20px;
}
