@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.signup-container {
  display: flex;
  height: 100vh;
}

.signup-image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
}

.signup-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-details-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.signup-logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}

.slogan {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1919a8;
  text-align: center;
}

.signup-form {
  width: 100%;
  max-width: 400px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signup-button {
  width: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  color: #c71e88;
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #c71e88;
  color: #ffffff;
}

.or-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #1919a8;
}

.line {
  flex: 1;
  border-top: 1px solid #1919a8;
}

.or-text {
  margin: 0 10px;
  font-size: 1em;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-button {
  width: 80%;
  padding: 10px;
  border: 2px solid #1919a8;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
}

.google-button {
  background-color: #e5e5ff;
}

.google-button:hover {
  background-color: #4848e4;
  color: #ffffff;
}

.facebook-button {
  background-color: #e5e5ff;
}

.facebook-button:hover {
  background-color: #4848e4;
  color: #ffffff;
}

.signup-section {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.signup-link {
  color: #c71e88;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column; /* Stack the image and details vertically */
    height: auto; /* Allows dynamic height */
  }

  .signup-image-side {
    height: 200px; /* Adjust height for medium screens */
  }

  .signup-details-side {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .signup-image-side {
    display: none; /* Hide the image on smaller screens */
  }

  .signup-details-side {
    width: 100%;
  }
}
